        /* BASIC STYLES */ /* BASIC STYLES */ /* BASIC STYLES */ /* BASIC STYLES */ /* BASIC STYLES */ /* BASIC STYLES */ /* BASIC STYLES */ 
        
        :root {
            ---fs-small: ;
            ---fs-medium: clamp(0.75rem, 1vw, 2rem);
            ---fs-large: clamp(1.5rem, 2vw, 2.5rem);
            ---fs-xl: clamp(2rem, 3vw, 4rem);
            ---fs-xxl: clamp(3rem, 4vw, 5rem);
            ---fs-jumbo: clamp(10rem, 9vw, 8rem);

            ---blue: #add8e6;
            ---white: #e8e8e8;
            ---pink: #ffc0cb;
            ---orange1: #f4930c;
            ---orange2: #dfc480;
            ---black: #1c1c1c;
        }

        input,
        textarea {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: var(---fs-large);
        }

        input::placeholder,
        textarea::placeholder {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: var(---fs-large);
            text-align: center;
            opacity: 0.5;
        }

        body {
            margin: 0;
            padding: 0;
            font-family: Georgia, 'Times New Roman', Times, serif;
            box-sizing: border-box;
            position: relative;
        }

        a {
            color: inherit;
            text-decoration: none;
        }

        button {
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            font: inherit;
            color: inherit;
            cursor: pointer;
            outline: none;
        }

        /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ /* NAV */ 

        nav {
            display: flex;
            justify-content: space-between;
            position: fixed;
            width: 100%;
            mix-blend-mode: difference;
            color: var(---white);
            z-index: 5;
        }

        .nav {
            margin: 10px 25px;
        }

        /* MENU */ /* MENU */ /* MENU */ /* MENU */ /* MENU */ /* MENU */ /* MENU */ /* MENU */ /* MENU */ /* MENU */ /* MENU */ /* MENU */ /* MENU */ 
        #menu {
            height: auto;
            display: none;
            position: fixed;
            align-items: start;
            justify-content: start;
            z-index: 4;
            padding-top: 30px;
            mix-blend-mode: difference;
            color: var(---white);
        }

        #menu a {
            color: inherit;
            text-decoration: none;
        }

        #menu a:hover {
            color: var(---pink);
            font-weight: 600;
        }


        #menu ul {
            margin: 0;
            padding: 15px 0 15px 25px;
        }

        #menu ul li {
            list-style: none;
            padding: 3px 0;
            margin: 0;
            border-bottom: 1px solid var(---white);
            width: 125px;
        }

        #menu ul li:nth-last-child(2) {
            margin-top: 15px;
            font-size: smaller;
            font-style: italic;
        }

        #menu ul li:last-child {
            font-size: smaller;
            font-style: italic;
        }

        /* HERO SECTION */ /* HERO SECTION */ /* HERO SECTION */ /* HERO SECTION */ /* HERO SECTION */ /* HERO SECTION */ /* HERO SECTION */ 

        .hero-section {
            background: linear-gradient(to right, var(---blue), var(---white));
            height: 100vh;
            width: 100vw;
            display: grid;
            grid-template-columns: repeat(10, 10%);
            grid-template-rows: repeat(10, 10%);
        }

        .hero-image {
            width: 100%;
            align-items: center;
            justify-content: center;
            display: flex;
            z-index: 1;
            grid-row: 2 / 10;
            grid-column: 4 / 8;
        }

        .hero-image img {
            width: auto;
            max-width: 100%;
            max-height: 100%;
            filter: drop-shadow(4px 4px 10px rgba(28, 28, 28, 0.5));
            cursor: pointer;
            box-sizing: border-box;
        }

        #nijntje-prrr {
            display: none;
            grid-row: 3 / 4;
            grid-column: 7 / 8;
            z-index: 2;
            margin-left: 20%;
            font-size: var(---fs-xxl);
            animation: shakeFade 3s forwards;
        }

        @keyframes shakeFade {
            0% { transform: rotate(5deg); opacity: 1; } 
            2% { transform: rotate(-5deg); } 4% { transform: rotate(5deg); } 6% { transform: rotate(-5deg); } 8% { transform: rotate(5deg); } 
            10% { transform: rotate(-5deg); } 15% { transform: rotate(5deg); } 20% { transform: rotate(-5deg); } 25% { transform: rotate(5deg); } 
            30% { transform: rotate(-5deg); } 35% { transform: rotate(5deg); } 40% { transform: rotate(-5deg); } 45% { transform: rotate(5deg); } 
            50% { transform: rotate(-5deg); } 55% { transform: rotate(5deg); } 60% { transform: rotate(-5deg); } 65% { transform: rotate(5deg); } 
            70% { transform: rotate(-5deg); } 75% { transform: rotate(5deg); } 80% { transform: rotate(-5deg); } 85% { transform: rotate(5deg); } 
            90% { transform: rotate(-5deg); } 95% { transform: rotate(5deg); }
            100% { transform: rotate(0); opacity: 0; }
        }

        #stopNijntjePrrr {
            grid-row: 4 / 5;
            grid-column: 7 / 8;
            display: none;
            z-index: 2;
            font-size: var(---fs-medium);
            padding: 0 0 0 40px;
            cursor: pointer;
            font-style: italic;
        }

        .span-left {
            box-sizing: border-box;
            font-size: var(---fs-medium);
            grid-row: 5 / 6;
            grid-column: 1 / 2;
            margin: 0;
            padding: 0 0 0 10px;
            width: 100%;
            height: 100%;
            word-wrap: break-word;
            cursor: pointer;
        }

        .span-right {
            box-sizing: border-box;
            font-size: var(---fs-medium);
            grid-row: 5 / 6;
            grid-column: 10 / 11;
            margin: 0;
            padding: 0 10px 0 0;
            width: 100%;
            height: 100%;
            word-wrap: break-word;
            cursor: pointer;
        }

        h1 {
            grid-row: 7 / 9;
            grid-column: 6 / 10;
            width: 100%;
            height: 100%;
            font-size: clamp(2rem, 5vw, 6rem);
            z-index: 2;
            padding: 0;
            margin: 0;
            mix-blend-mode: difference;
            color: var(---pink);
        }

        /* PHOTO SECTION  */ /* PHOTO SECTION  */ /* PHOTO SECTION  */ /* PHOTO SECTION  */ /* PHOTO SECTION  */ /* PHOTO SECTION  */ /* PHOTO SECTION  */ 

        .photo-section {
            background: linear-gradient(to right, var(---blue), var(---white));
            height: 100vh;
            width: 100vw;
            display: grid;
            grid-template-columns: repeat(10, 10%);
            grid-template-rows: repeat(10, 10%);
        }

        .nijntje-photo {
            grid-row: 1 / 10;
            grid-column: 1 / 6;
            padding: 10px 0;
            padding-left: 5%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nijntje-photo img {
            height: 100%;
            width: auto;
            filter: grayscale(100%) brightness(1.1);
            padding: 15px;
        }

        #toggleButton {
            grid-row: 6 / 8;
            grid-column: 5 / 7;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: var(---fs-large);
            z-index: 1;
            mix-blend-mode: difference;
            color: var(---pink);
            cursor: pointer;
            font-weight: 700;
        }

        #toggleButton:hover {
            color: var(---white);
        }

        #photobook-container {
            grid-row: 1 / 11;
            grid-column: 6 / 12;
            background-color: var(---white);
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            grid-template-rows: auto;
            gap: 10px;
            overflow: scroll;
            margin: 50px 30px 25px 50px;
            padding: 10px;
        }

        #photobook-container.hidden {
            display: none;
        }

        #photobook-container.grid {
            display: grid;
        }

        #photobook-container div {
            position: relative;
            width: 100%;
            height: 200px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #photobook-container div img {
            width: 200%;
            object-fit: contain;
            filter: grayscale(100%) brightness(1.1);
            opacity: 0.8;
        }

        #photobook-container img:hover {
            opacity: 1;
            cursor: pointer;
        }

        /* MESSAGEBOARD SECTIE */ /* MESSAGEBOARD SECTIE */ /* MESSAGEBOARD SECTIE */ /* MESSAGEBOARD SECTIE */ /* MESSAGEBOARD SECTIE */ 

        .messageboard {
            background: linear-gradient(to left, var(---orange1), var(---orange2));
            height: 100vh;
            width: 100vw;
            display: grid;
            grid-template-columns: repeat(10, 10%);
            grid-template-rows: repeat(10, 10%);
        }

        .messageboard .left {
            grid-row: 1 / 11;
            grid-column: 1 / 3;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            margin: 0;
            padding: 0;
            color: var(---white);
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: var(---fs-xl);
            font-weight: 700;
            display: none;
        }

        .messageboard .right {
            grid-row: 2 / 5;
            grid-column: 2 / 9;
            /* writing-mode: vertical-rl; */
            margin: 0;
            padding: 0;
            color: var(---orange1);
            mix-blend-mode: difference;
            text-align: left;
            display: flex;
            justify-content: start;
            align-items: start;
            font-size: var(---fs-jumbo);
            font-weight: 900;
            
            
        }

        #message-list {
            grid-row: 4 / -1;
            grid-column: 6 / -1;
            background-color: rgb(255, 255, 255, 0.3);
            overflow: scroll;
            height: calc(100% - 60px);
            margin: 30px;
            text-align: center;
            padding-inline-start: 0;
            box-sizing: border-box;
        }

 Æ’       #message-list ul li {
            list-style: none;
            margin: 10px 0;
            padding: 10px;
            background-color: var(---white);
            border-radius: 10px;
            /* box-shadow: 0 0 10px rgba(28, 28, 28, 0.1); */
        }

        .message-item {
            list-style: none;
            margin: 40px 0;
        }

        #message-form {
            grid-row: 6 / -1;
            grid-column: 1 / 6;
            /* background: linear-gradient(to right, rgb(199, 217, 223), rgb(232, 232, 232)); */
            /* background: linear-gradient(to left, var(---orange1), var(---orange2)); */
            /* background-color: rgb(255, 255, 255, 0.3); */
            display: none;
            z-index: 1;
            height: calc(100% - 60px);
            margin: 30px;
            grid-template-columns: repeat(10, 10%);
            grid-template-rows: repeat(10, 10%);
        }

        #message-form .message-form-x {
            grid-row: 1 / 2;
            grid-column: 10 / 11;
            align-self: start;
            justify-self: end;
            margin: 10px 15px 0 0;
        }

        #message-form .message-form-post {
            grid-row: 10 / 11;
            grid-column: 4 / 8;
            background-color: rgb(255, 255, 255, 0.3);
            margin: 15px 100px;
        }

        #message-form input {
            grid-row: 2 / 3;
            grid-column: 2 / 10;
            margin-bottom: 15px;
            border: 0;
        }

        #message-form textarea {
            grid-row: 3 / 10;
            grid-column: 2 / 10;
            display: flex;
            justify-content: center;
            align-items: center;
            resize: none;
            overflow: scroll;
            border: 0;
        }

        #message-form textarea::placeholder {
            font-size: var(---fs-jumbo);
            padding-top: 20vh;
        }

        /* OVER NIJNTJE SECTIE  */ /* OVER NIJNTJE SECTIE  */ /* OVER NIJNTJE SECTIE  */ /* OVER NIJNTJE SECTIE  */ /* OVER NIJNTJE SECTIE  */ 

        .video-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-color: var(---pink);
            z-index: 1;
        }

        #background-video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(100%) brightness(1.1);
        }

        #overNijntje {
            cursor: pointer;

        }

        #about {
            height: 100vh;
            width: 100vw;
            background-color: var(---pink);
            position: relative;
            display: grid;
            grid-template-columns: repeat(10, 10%);
            grid-template-rows: repeat(10, 10%);
        }

        #marquee-container {
            overflow: hidden;
            white-space: nowrap;
            text-align: center;
            text-wrap: nowrap;
            z-index: 3;
            grid-column: 1 / 11;
            grid-row: 1 / 2;
            width: 100%;
            color: var(---white);
            cursor: grab;
        }

        #marquee-content img {
            height: 0.5%;
            width: 0.5%;
        }

        aside {
            display: inline-flex;
            align-items: center;
            white-space: nowrap;
            margin: 15px 0;
            color: whitesmoke;
            animation: marquee 50s linear infinite;
        }

        @keyframes marquee {
            0% {
                transform: translateX(50%);
                /* Begin buiten het scherm aan de rechterkant */
            }

            100% {
                transform: translateX(-120%);
                /* Verplaats naar links buiten het scherm */
            }
        }

        article {
            grid-row: 2 / 9;
            grid-column: 2 / 10;
            text-align: center;
            z-index: 3;
            padding: 10px;
            color: var(---white);
        }


        #toggleVideo {
            grid-row: 1 / 2;
            grid-column: 5 / 7;
            z-index: 3;
            mix-blend-mode: difference;
            color: var(---white);
        }

        .about-content {
            position: relative;
            z-index: 3;
            grid-row: 9 / 11;
            grid-column: 4 / 8;
            align-self: center;
            justify-self: center;
            text-align: center;
            font-size: var(---fs-xl);
            mix-blend-mode: difference;
            color: var(---pink);
        }

        #aboutModal {
            display: none;
            grid-row: 2 / 9;
            grid-column: 2 / 10;
            background-color: rgb(223, 196, 128, 0.8);
            z-index: 3;
            grid-template-columns: repeat(10, 10%);
            grid-template-rows: repeat(10, 10%);
            overflow: scroll;
        }

        /* CONTACT SECTIE  */ /* CONTACT SECTIE  */ /* CONTACT SECTIE  */ /* CONTACT SECTIE  */ /* CONTACT SECTIE  */ /* CONTACT SECTIE  */ 

        .contact-section {
            height: 100vh;
            width: 100vw;
            background: linear-gradient(to right, var(---blue), var(---white));
        }

        .contact-section form {
            display: grid;
            grid-template-columns: repeat(10, 10%);
            grid-template-rows: repeat(10, 10%);
            height: 100%;
            width: 100%;
        }

        .contact-section input {
            grid-row: 2 / 3;
            grid-column: 2 / 10;
            margin: 10px;
        }

        .contact-section textarea {
            grid-row: 3 / 9;
            grid-column: 2 / 10;
            margin: 10px;
        }

        .contact-section textarea::placeholder {
            font-size: var(---fs-jumbo);
            padding-top: 20vh;
        }

        .contact-section button {
            grid-row: 9 / 10;
            grid-column: 5 / 7;
            background-color: rgb(255, 255, 255, 0.5);
            margin: 15px;
        }

        #responseMessage {
            grid-row: 1 / 2;
            grid-column: 4 / 8;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }


        /* SM: portrait phones, less than 576.98px */
        @media (max-width: 575.98px) {
            .nijntje-photo {
                grid-row: 1 / 5;
                grid-column: 1 / 11;
                padding: 10px 20px 0 0;
            }

            #toggleButton {
                grid-row: 5 / 6;
                grid-column: 4 / 7;
            }

            h2 {
                grid-row: 4 / 6;
                grid-column: 3 / 6;
            }

            #photobook-container {
                grid-row: 6 / 11;
                grid-column: 1 / 11;
                grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
            }

            .messageboard .left {
                grid-row: 1 / 2;
                grid-column: 1 / 11;
                writing-mode: unset;
                transform: rotate(0deg);
                font-size: var(---fs-large);
                padding: 10px;
            }

            .messageboard .right {
                grid-row: 9 / 10;
                grid-column: 1 / 11;
                transform: rotate(0deg);
                font-size: var(---fs-large);
                writing-mode: unset;
            }

            #message-list,
            #message-form {
                grid-column: 1 / -1;
                grid-row: 7 / -1;
            }

            #message-list {
                width: calc(100% - 30px);
                height: auto;
                margin: 15px;
                box-sizing: border-box;
            }

            #message-form .message-form-post {
                margin: 15px;
            }

            .message-item {
                font-size: 1rem;
            }

            #message-form textarea::placeholder {
                font-size: var(---fs-large);
            }

            .about-content {
                font-size: var(---fs-large);
            }

            .contact-section textarea::placeholder {
                font-size: var(---fs-large);
            }

            .contact-section button {
                grid-row: 9 / 10;
                grid-column: 4 / 8;
                background-color: rgb(255, 255, 255, 0.5);
                margin: 15px;
            }
        }
